# Ignore everything in this directory
*ipynb*/
.virtual_documents/
Mnn_Core/__pycache__/
# Except this file
!.gitignore
*.pyc
*.pyc
Mnn_Core/__pycache__/mnn_pytorch.cpython-38.pyc
Mnn_Core/__pycache__/mnn_utils.cpython-38.pyc
*.iml
*.0
